body {
    font-family: Arial;
    text-align: left;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    align:center;
}

th, td {
    padding: 5px;
    text-align: center;
}
