{% extends "todo/base.html" %}

<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}To Do Apps{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/todo.css' %}" />
</head>
<body>
{% block content %}

<h1 align="center">Do the lists</h1>
<table align="center">
  <tr>
    <th>To do</th>
    <th>Time</th> 
    <th>Done</th>
    <th></th>
  </tr>
  {% for post in posts %}
  <tr>
    <td>{{ post }}</td>
    <td>{{ post.date }}</td> 
    <td><input type="checkbox" ></td>
    <td><a href="{% url "post_remove" pk=post.pk %}"><button type="button" class="btn btn-default">Confirm</button></a></td>
  </tr>
  {% endfor %}
</table>
{% endblock content %}

</body>
</html>